.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn{
  background-color: darkgray;
  border-radius: 20px;
}

.btn:hover{

  background-color:aquamarine;

}